
.seven_seg_big {
    border: solid 4px #2F4F4F;
    display: inline-block;
    height: 50px;
    width: 150;
    padding: 5px;
    background-color: black;
    margin-top: 5px;
}

.seven_seg_4 {
    border: solid 4px #2F4F4F;
    display: inline-block;
    height: 30px;
    width: 120;
    padding: 5px;
    background-color: black;
    margin-top: 5px;
}

.seven_seg_3 {
    border: solid 4px #2F4F4F;
    display: inline-block;
    height: 30px;
    width: 90;
    padding: 5px;
    background-color: black;
    margin-top: 5px;
}

.seven_seg_2 {
    border: solid 4px #2F4F4F;
    display: inline-block;
    height: 30px;
    width: 60;
    padding: 5px;
    background-color: black;
    margin-top: 5px;
}

.seven_seg_item_big {
    border: solid 4px #00BFFF;
    color: #FFFFFF;
    padding: 10px;
    width: fit-content;
    text-align: center;
    width: 320px;
    font-size: 20px;
    margin: 10px;
}

.seven_seg_item {
    border: solid 4px #00BFFF;
    color: #FFFFFF;
    padding: 10px;
    width: fit-content;
    text-align: center;
    width: 250px;
    margin: 10px;
}

a.button_blue {
    margin: 10px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    border-radius: 30px;
    background: linear-gradient(rgb(100, 152, 200), rgb(10, 50, 70)) rgb(110, 112, 120);
    box-shadow:
        0 1px rgba(255,255,255,.2) inset,
        0 3px 5px rgba(0,1,6,.5),
        0 0 1px 1px rgba(0,1,6,.2);
    user-select: none;
}

a.button_blue:active {
    top: 1px;
    background: linear-gradient(#4080AA, #202020);
    box-shadow:
        0 0 1px rgba(0,0,0,.5) inset,
        0 2px 3px rgba(0,0,0,.5) inset,
        0 1px 1px rgba(255,255,255,.1);
}


a.button_red {
    margin: 10px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    font-weight: 700;
    color: #DDDDDD;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    border-radius: 30px;
    background: linear-gradient(#FD4009, #503030);
    box-shadow:
        0 1px rgba(255,255,255,.2) inset,
        0 3px 5px rgba(0,1,6,.5),
        0 0 1px 1px rgba(0,1,6,.2);
    user-select: none;
}

a.button_red:active {
    top: 1px;
    background: linear-gradient(#DA4040, #202020);
    box-shadow:
        0 0 1px rgba(0,0,0,.5) inset,
        0 2px 3px rgba(0,0,0,.5) inset,
        0 1px 1px rgba(255,255,255,.1);
}


a.button_green {
    margin: 10px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    font-weight: 700;
    color: #DDDDDD;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    border-radius: 30px;
    background: linear-gradient(#40FD09, #503030);
    box-shadow:
        0 1px rgba(255,255,255,.2) inset,
        0 3px 5px rgba(0,1,6,.5),
        0 0 1px 1px rgba(0,1,6,.2);
    user-select: none;
}

a.button_green:active {
    top: 1px;
    background: linear-gradient(#40DA40, #202020);
    box-shadow:
        0 0 1px rgba(0,0,0,.5) inset,
        0 2px 3px rgba(0,0,0,.5) inset,
        0 1px 1px rgba(255,255,255,.1);
}

.led-green-on {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 10px 5px 10px;
    width: 16px;
    height: 16px;
    background-color: #6f0;
    border-radius: 50%;
    box-shadow: 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff;
}

.led-green-off {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 10px 5px 10px;
    width: 16px;
    height: 16px;
    background-color: #141;
    border-radius: 50%;
}

.led-red-on {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 10px 5px 10px;
    width: 16px;
    height: 16px;
    background-color: #f70;
    border-radius: 50%;
    box-shadow: 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff;
}

.led-red-off {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 10px 5px 10px;
    width: 16px;
    height: 16px;
    background-color: #422;
    border-radius: 50%;
}